/* stylelint-disable selector-list-comma-newline-after */

.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

/*
 * Blog name and description
 */
.blog-title {
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 400;
}
.blog-description {
  font-size: 1.1rem;
  color: #999;
}

@media (min-width: 40em) {
  .blog-title {
    font-size: 3.5rem;
  }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}

/*
 * Footer
 */
.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

body {
    margin: 0;
    font-family: Arial;
    font-size: 12px;
}

.topo {
    height: 30px;
    background-color: #e88bdd;
    color: #ffffff;
}

.topoint {
    width: 100%;
    max-width: 1040px;
    height: 30px;
    margin: auto;
}

.topoleft {
    width: 50%;
    height: 30px;
    float: left;
}

.topoleft ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.topoleft li {
    height: 30px;
    line-height: 30px;
    float: left;
    margin-left: 2px;
    margin-right: 2px;
}

.topoleft li a {
    text-decoration: none;
    color: #ffffff;
}

.toporight {
    width: 50%;
    height: 28px;
    float: right;
    text-align: right;
    margin-top: 2px;
}

.toporight a {
    float: right;
}

.toporight img {
    margin-right: 10px;
}

.topo2 {
    height: 100px;
    background-color: #ffffff;
}

.topo2int {
    width: 100%;
    max-width: 1040px;
    height: 100px;
    margin: auto;
}

.logo {
    width: 230px;
    height: 90px;
    float: left;
    margin-top: 10px;
}

.topo2 .frase {
    width: 650px;
    height: 80px;
    float: right;
    margin-top: 7px;
    line-height: 80px;
    font-size: 18px;
    font-family: 'Indie Flower', cursive;
    color: #fa023c;
}

.menu {
    height: 40px;
    background-color: #e88bdd;
}

.menuint {
    width: 100%;
    max-width: 1040px;
    height: 40px;
    margin: auto;
}

.menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu li {
    float: left;
    height: 40px;
    line-height: 40px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 16px;
}

.menu a {
    color: #ffffff;
    text-decoration: none;
}

.menu li:hover {
    background-color: #fa023c40;
}

.menumobile {
    display: none;
}

.containerint {
    width: 100%;
    max-width: 1040px;
    margin: auto;
    margin-top: 20px;
}

.leftside {
    width: 753px;
    float: left;
}

.slideshow {
    height: 335px;
    overflow: hidden;
    margin-bottom: 20px;
}

.slide {
    height: 335px;
    float: left;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}

.slideinfo {
    height: 70px;
    background-image: url('../img/slideshow_bg.png');
    background-size: auto 70px;
    margin-top: 265px;
}

.slideinfo_titulo {
    font-size: 20px;
    color: #ffffff;
    padding-top: 15px;
    padding-left: 20px;
}

.widget {
    border: 1px solid #cccccc;
    background-color: #fff;
    margin-bottom: 10px;
}

.widget_titulo {
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #cccccc;
    background-color: #e88bdd;
    color: #ffffff;
    padding-left: 5px;
    font-size: 14px;
}

.widget_conteudo {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.eventoarea1 {
    width: 430px;
    height: 320px;
    float: left;
}

.eventobig {
    margin-left: 10px;
}

.eventobig .eventoimg {
    width: 384px;
    height: 222px;
}

.eventobig .eventoimg img {
    width: 384px;
    height: 222px;
}

.eventobig .eventotitulo {
    width: 384px;
    font-size: 30px;
}

.eventoarea2 {
    width: 320px;
    height: 320px;
    float: left;
}

.eventoitem {
    text-align: left;
    height: 88px;
    margin-top: 7px;
    margin-bottom: 7px;
}

.eventoimg {
    width: 80px;
    height: 80px;
    border: 1px solid #cccccc;
    padding: 3px;
    float: left;
}

.eventotitulo {
    margin-left: 6px;
    font-size: 16px;
    float: left;
    width: 226px;
    color: #000000;
}

.eventoinfo {
    font-size: 12px;
    margin-left: 6px;
    color: #999999;
    width: 226px;
    float: left;
}

.rightside {
    width: 275px;
    float: right;
    margin-left: 12px;
    min-height: 200px;
}

.evento_item {
    font-size: 14px;
    margin: 0px 10px;
    padding: 10px 0px;
    text-align: left;
    border-bottom: 1px solid #cccccc;
}

.evento_item a {
    text-decoration: none;
    color: #000000;
}

@media only screen and (min-width: 906px) and (max-width: 1057px) {
    
    .topoint,
    .topo2int,
    .menuint,
    .containerint {
        max-width: 890px;
    }

    #menu {
        display: block !important;
    }

    .leftside {
        width: 600px;
    }

    .eventoarea1 {
        width: 278px;
    }

    .eventobig .eventoimg {
        width: 245px;
    }

    .eventobig .eventoimg img {
        width: 245px;
    }

    .eventobig .eventotitulo {
        width: 245px;
        font-size: 22px;
    }

}

@media only screen and (min-width: 783px) and (max-width: 906px) {

    .topoint,
    .topo2int,
    .menuint,
    .containerint {
        max-width: 768px;
    }

    .topo2 .frase {
        display: none;
    }

    #menu {
        display: block !important;
    }

    .logo {
        float: none;
        margin: auto;
        margin-top: 8px;
    }

    .rightside {
        display: none;
    }

    .leftside {
        float: none;
        width: auto;
    }

    .eventoarea1 {
        width: 446px;
    }

    .eventobig .eventoimg {
        width: 415px;
    }

    .eventobig .eventoimg img {
        width: 415px;
    }

    .eventobig .eventotitulo {
        width: 415px;
        font-size: 25px;
    }

}

@media only screen and (max-width: 783px) {

    .topoint,
    .topo2int,
    .menuint,
    .containerint {
        max-width: 320px;
    }

    .topoleft {
        display: none;
    }

    .toporight {
        width: 100%;
    }

    .topo2 .frase {
        display: none;
    }

    .logo {
        float: none;
        margin: auto;
        margin-top: 8px;
    }
    
    .menumobile {
        display: block ;
        cursor: pointer;
    }
    
    .menu ul {
        position: absolute;
        background-color:#e88bdd;
        z-index: 10;
        display: none;
    }

    .menu li {
        float: none;
        height: auto;
    }

    .menu li:hover {
        background-color: #fa023c40;
    }

    .rightside {
        display: none;
    }

    .leftside {
        float: none;
        width: auto;
        margin-top: 10px;
    }

    .eventoarea1 {
        width: 320px;
        height: auto;
    }

    .eventobig .eventoimg {
        width: 290px;
    }

    .eventobig .eventoimg img {
        width: 290px;
    }

    .eventobig .eventotitulo {
        width: 290px;
        font-size: 25px;
    }

    .eventoarea2 {
        width: 300px;
        margin: auto;
        float: none;
        clear: both;
        padding-top: 20px;
    }

    .eventoitem {
        clear: both;
    }

    .eventotitulo {
        width: 206px;
    }

    .eventoinfo {
        width: 206px;
    }

}