{% load staticfiles %}
<!doctype html>
<html>
    <head>
        <title>PyLadies Caxias do Sul</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/solid.css" integrity="sha384-osqezT+30O6N/vsMqwW8Ch6wKlMofqueuia2H7fePy42uC05rm1G+BUPSd2iBSJL" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/regular.css" integrity="sha384-4e3mPOi7K1/4SAx8aMeZqaZ1Pm4l73ZnRRquHFWzPh2Pa4PMAgZm8/WNh6ydcygU" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/brands.css" integrity="sha384-Px1uYmw7+bCkOsNAiAV5nxGKJ0Ixn5nChyW8lCK1Li1ic9nbO5pC/iXaq27X5ENt" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/fontawesome.css" integrity="sha384-BzCy2fixOYd0HObpx3GMefNqdbA7Qjcc91RgYeDjrHTIEXqiF00jKvgQG0+zY/7I" crossorigin="anonymous">

        <!-- CSS -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
		
		<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
    </head>
    <body>
    {% include 'header.html' %}
    <div class="container">
        <div class="containerint">
            <div class="leftside">
                <div class="slideshow" id="slideshow">
                    <div class="slideshowarea">
                        <a href="">
                            <div class="slide" style="background-image:url('static/images/dgcaxias1.jpg')">
                                <div class="slideinfo">
                                    <div class="slideinfo_titulo">Django Girls 1° Edição</div>
                                </div>
                            </div>
                        </a>
                        <a href="">
                            <div class="slide" style="background-image:url('static/images/dgbento.jpg')">
                                <div class="slideinfo">
                                    <div class="slideinfo_titulo">Django Girls Bento Gonçalves</div>
                                </div>
                            </div>
                        </a>
                        <a href="https://www.google.com.br/">
                            <div class="slide" style="background-image:url('static/images/dgcaxias2.jpg')">
                                <div class="slideinfo">
                                    <div class="slideinfo_titulo">Django Girls Caxias do Sul 2° Edição</div>
                                </div>
                            </div>
                        </a>
                        <a href="https://www.google.com.br/">
                            <div class="slide" style="background-image:url('static/img/encontro.jpg')">
                                <div class="slideinfo">
                                    <div class="slideinfo_titulo">Roda de Conversa em Comeração ao Dia da Mulher</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="widget">
                    <div class="widget_titulo">Eventos</div>
                    <div class="widget_conteudo">
                        <div class="eventoarea1">
                            <a href="">
                                <div class="eventoitem eventobig">
                                    <div class="eventoimg">
                                        <img src="" border="0">
                                    </div>
                                    <div class="eventotitulo">
                                        Título do próximo evento
                                    </div>
                                    <div class="eventoinfo">
                                        Informações sobre o evento
                                    </div>
                                </div>  
                            </a>
                        </div>
                        <div class="eventoarea2">
                            <a href="">
                                <div class="eventoitem">
                                    <div class="eventoimg">
                                        <img src="" border="0" width="80px" height="80px">
                                    </div>
                                    <div class="eventotitulo">
                                        Título dos últimos evento
                                    </div>
                                    <div class="eventoinfo">
                                        Informações sobre o evento
                                    </div>
                                </div>
                            </a>
                            <a href="">
                                <div class="eventoitem">
                                    <div class="eventoimg">
                                        <img src="" border="0" width="80px" height="80px">
                                    </div>
                                    <div class="eventotitulo">
                                        Título dos últimos evento
                                    </div>
                                    <div class="eventoinfo">
                                        Informações sobre o evento
                                    </div>
                                </div>
                            </a>
                            <a href="">
                                <div class="eventoitem">
                                    <div class="eventoimg">
                                        <img src="" border="0" width="80px" height="80px">
                                    </div>
                                    <div class="eventotitulo">
                                        Título dos últimos evento
                                    </div>
                                    <div class="eventoinfo">
                                        Informações sobre o evento
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div style="clear:both"></div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    {% block content %}
    {% endblock %}


    <div class="widget">
        <div class="widget_titulo">Encontre-nos No Facebook</div>
        <div class="widget_conteudo">
            <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fpyladiescaxiasdosul%2F&tabs&width=270&height=214&small_header=false&adapt_container_width=false&hide_cover=false&show_facepile=true&appId" width="270" height="214" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
        </div>
    </div>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script href="{% static 'js/meetup.js' %}"></script>
    </body>
</html>
